@import "tailwindcss";

@theme {
  --color-foreground: #ededed;
  --color-background: #0f172a;
  --color-charcoal: #1e293b;
  --color-neon-green: #39ff14;
  --color-electric-blue: #00eeff;
  --color-card: var(--color-charcoal);
  --color-card-foreground: #ffffff;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-tap-highlight-color: transparent;
}
